 <!DOCTYPE html>
 <html>
    <head>
        <title>ADMIN Countdown</title>
        <script type="text/javascript" src="/js/socket.io.min.js"></script>
        <script type="text/javascript" src="/js/commFunctions.js"></script>
        <script type="text/javascript" src="/js/common_functions.js"></script>
        <script type="text/javascript" src="/js/admin_functions.js"></script>
        <script type="text/javascript" charset="utf-8">
            function connect() {
                var payload = {status: 'connect', type: 'user'};

                sendConnectMessage('connection', payload);

                var socket = io.connect('http://' + document.domain + ':' + location.port);
                socket.on('gameData', function(json){ parseGameData(json); });
            }

            function parseGameData(json) {
                var status = json["running"];
                document.getElementById("runningStatus").innerHTML = status;
                update_start_stop_buttons(status);

                status = json["hidden"];
                document.getElementById("hiddenStatus").innerHTML = status;
                update_hide_show_buttons(status);

                var time_format = json["format"];
                update_format(time_format);

                update_time(json, "time");
            }

            connect();
        </script>
        <style>
             .time_input {
                width: 3em;
             }

             .unlimited_time_input {
                width: 6em;
             }

             .hidden {
                display:none;
                visibility:hidden;
             }
        </style>
    </head>
    <body>
        Running status: <span id="runningStatus">Loading</span><br/>
        <button id="start" onclick="start();">START</button>
        <button id="stop" onclick="stop();">STOP</button><br/><br/>

        Hidden status: <span id="hiddenStatus">Loading</span><br/>
        <button id="hide" onclick="hide();">HIDE</button>
        <button id="show" onclick="show();">SHOW</button><br/><br/>

        <span id="time"></span><br/><br/>

        <select id="select_format">
            <option value="" disabled selected hidden>loading...</option>
            {% for time_format in formats %}
                <option id="format_{{time_format}}" value="{{time_format}}">{{time_format}}</option>
            {% endfor %}
        </select>
        <button id="set_format" onclick="set_format();">SET format</button><br/>

        <br/>
        <input type="number" class="time_input" id="days" value="0" step=1 min="0"/><span id="days_colon">:</span>
        <input type="number" class="time_input" id="hrs"  value="0" step=1 min="0" max="23"/><span id="hrs_colon">:</span>
        <input type="number" class="time_input" id="mins" value="0" step=1 min="0" max="59"/><span id="mins_colon">:</span>
        <input type="number" class="time_input" id="secs" value="0" step=1 min="0" max="59"/>
        <br/>
        <button id="set" onclick="send_time_payload('set');">SET</button>&nbsp;&nbsp;
        <button id="add" onclick="send_time_payload('add');">ADD</button>&nbsp;&nbsp;
        <button id="substract" onclick="send_time_payload('subtract');">SUBTRACT</button>

        <br/><br/>

        <label for="top_text">Text above: </label><input type="text" id="top_text"><br>
        <label for="bottom_text">Text below: </label><input type="text" id="bottom_text"><br>
        <button id="set_text" onclick="set_text();">SET TEXT</button><br/><br/>
    </body>
 </html>
